<div class="container content">
	<div class="row">
		<div class="col-md-6">
			
		</div>
		<div class="col-md-6">
			<span class="slogan-content">
				Двигайте Ваш Бизнес Вперёд 
			</span>
			<span class="slogan-content">
				Рухайте Ваш Бізнес Вперед
			</span>
			<div class="search-wrap">
				<div class="search-field">
			      <span class="icon"><i class="glyphicon glyphicon-search"></i></span>
			      <input type="search" id="search" placeholder="Поиск..." />
			    </div>
			</div>
			<div class="mainscreen"></div>
		</div>
	</div>
</div>